@CHARSET "UTF-8";

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    color: #777;
}

.top-line{
    width: 100%;
    height: 5px;
    background-color: #3d4a31;
}

.header {	    
    background: #DFE5DF;
    /*border-bottom: 1px solid #3d4a31;*/
}

.site-header-logo {
    padding: 2%;    
}

.site-header-desc {
    text-align: left;
    padding: 38px 0px;
    font-size: 12px;
}

.site-header-contato {
    padding: 38px 0px;    
}

.header-contato-fone {
    width: 50%;
}

.header-contato-email {
    width: 50%;   
}

.site-header-menu {
    width: 100%;
    height: auto;
    margin-bottom: 0px;
    background-color: #3d4a31;
    border-bottom: 1px solid #3d4a31;    
}

.site-menu-lateral {
    width: 100%;
    height: auto;
    margin-bottom: 0px;
    background-color: #3d4a31;
    /*border-bottom: 1px solid #3d4a31;*/    
}

.site-carousel {

    width: 100%;
    height: auto;
}

.site-carousel-saiba-mais {
    
    padding: 17px 0px;
    width: 100%;
    height: auto;
    background-color: #333;
    font-size: 14px;
}

.site-carousel-saiba-mais > strong {
    
    font-size: 16px;
}

.main {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:5%;
    margin-right:5%;
    width: 90%;
    height: auto;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    padding: 2px;
    background-image: linear-gradient(to bottom, white, #DFE5DF);
    
}

.footer {

    background-color: #333;
    width: 100%;
    height: auto;
    color: #fff !important;   
}

.footer-sobre {
    margin-top: 20px;
    width: 100%;
    float: left;
}

.footer-sobre > p {
    text-align: left;
}

.footer-atendimento {
    width: 100%;
    float: left;	
}

.footer-contato {
	width: 100%;
	float: left;
	/*background-image: url(/tormetais/assets/images/footer-contato-mapa.png);*/
	/*background-size: 100% auto;*/
	/*background-repeat: no-repeat;*/
}

.footer-content {
    margin-bottom: 20px;
}

.sub-footer {
    background-color: #222;
    width: 100%;
    text-align:center;
    height: auto;
    color: #fff !important;
    margin-right: 0px;
    margin-left: 0px;
}

.thumbnail .caption > p {
    text-align: left;
}

.thumbnail .caption > h3 {
    text-align: center;
}

.main-content {
    margin-top: 0%;
}

.contato-mapa{
    width: 100%;
    height: 400px;
}

.contato-conteudo {
    margin-left:5%;
    margin-right:5%;
    width: 90%;
    height: auto;
}

/* Tabela de Contato */

.contato-coluna-um {
    vertical-align: top;
    width: 100px;
    text-align: right;
    padding-right: 5px;
}

.contato-coluna-dois {    
    text-align: left;
    padding-left: 5px;
}

.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;    
}

.page-header-form-list {
    text-align: center;   
    background: #398439;
    color: #fff;
    font-size: 24px;
}

.page-header {
       
    border-bottom: 1px solid #3d4a31;
}

.link-menu-superior {
  color: #fff;
}

a:hover, a:focus {
  color: #000;
}

